<form 
    [formGroup]="form" 
    class="todo-card d-flex justify-content-between"
    [ngClass]="{'todo-card--done': todo.done}"
>
    <div 
        class="d-flex flex-column gap-1 todo-card__content"
        [ngClass]="{'todo-card__content--done': todo.done}"
    >
        <p>{{todo.title}}</p>
        <p>{{todo.content}}</p>
    </div>

    <div class="d-flex gap-5 align-items-center todo-card__actions">
        <input
            type="checkbox" 
            [checked]="todo.done" 
            name="" 
            id="" 
            class="todo-card__actions__checkbox"
            (click)="toggleChecked()"
        >
        <div class="d-flex gap-3 todo-card__actions__buttons">
            <button type="button" (click)="updateTodo()">
                <img src="../../../../assets/icons/edit-icon.svg" alt="">
            </button>
            <button (click)="deleteTodo()" type="button">
                <img src="./../../../assets/icons/delete-icon.svg" alt="">
            </button>
        </div>
    </div>

</form>