@mixin input-default {
    border-radius: 5px;
    background-color: #eeefe9;
    border: none;
    outline: none;
    padding: 16px;
    width: 100%;
}

.todo-input {
    gap: 8px;
    width: 100%;

    label { 
        width: 100%;
    }
    
    &__title {
        @include input-default;
        height: 40px;
    }

    &__text {
        @include input-default;
    }

    &__button {
        width: 200px;
        padding: 16px;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
    }
}